<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>

    <div id="app" v-cloak>
        <h1> {{ greeting }} </h1>

        <custom-login-form />

        
    </div>


   <script src="https://unpkg.com/vue@next"></script>
   <script>
       let app = Vue.createApp({
           data() {
               return {
                   greeting: 'hello world'
               }
           },
           methods: { 
               log(greeting) {
                   console.log(greeting)
               }
           }
       })

       app.component('custom-login-form', {
           template: `
         <form @submit.prevent="handleSubmit">
            <custom-input v-model="email" v-bind:label="emailLable"/>
            <custom-input v-model="password" v-bind:label="passwordLabel"/>
            <input type="submit" value="submit">
        </form>               
           `,
           components: ['custom-input'],
           data() {
               return {
                   title: 'Login Form',
                   email: '',
                   password: '',
                   emailLable: 'email',
                   passwordLabel: 'password'
               }
           },
           methods: {
               handleSubmit() {
                   alert(this.email + this.password)
               }
           },
       })
       app.component('custom-input', {
           template: `
           <label>
                {{ label }}
                <input type="text" v-model='inputValue'>
            </label>
            <br/>
           `,
           props: ['label', 'modelValue'],
           computed: {
               inputValue: {
                   get() {
                       return this.modelValue
                   },
                   set(value) {
                       this.$emit('update:modelValue', value)
                   }
               }
           },
       })
       app.mount('#app')
   </script>
</body>
</html>