<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        [v-cloak] {
            display: none;
        }
        .box {
            border-radius: 10px;
            padding: 10px;
            border-color: green;
            background-color: aqua;
            height: 200px;
            width: 200px;
        }
    </style>
</head>
<body>

    <div id="app" v-cloak>
        <h1> {{ greeting }} </h1>

        <button v-on:click="visibility = !visibility" >toggle</button>
        <custom-login-form v-if="visibility" class="box"/>

    </div>


   <script src="https://unpkg.com/vue@next"></script>
   <script>
       let app = Vue.createApp({
           data() {
               return {
                   greeting: 'hello world',
                   visibility: true
               }
           },
           methods: { 
               log(greeting) {
                   console.log(greeting)
               },
           },
           updated() {
               console.log('updated')
           },
       })

       app.component('custom-login-form', {
           template: `
         <form @submit.prevent="handleSubmit">
            <custom-input 
                v-for="(index,i) in inputs" v-bind:key="i" 
                v-model="index.value" 
                v-bind:label="index.label"
                v-bind:type="index.type"/> 
            <input type="submit" value="submit">
        </form>               
           `,
           components: ['custom-input'],
           data() {
               return {
                   title: 'Login Form',
                   inputs: [
                       {
                           label: 'Email', value: '', type:'email'
                       },
                       {
                           label: 'Password', value: '', type:'password'
                       },
                       {
                           label: 'Name', value: '', type:'text'
                       },
                   ], 
               }
           },
           methods: {
               handleSubmit() {
                   alert(this.inputs[0].value + this.inputs[2].value)
               }
           },
           created() {
               console.log('created')
           },
           mounted() {
               console.log('mounted')
           },
           updated() {
               console.log('updated')
           },
           unmounted() {
               console.log('unmounted')
           },
       })
       app.component('custom-input', {
           template: `
           <label>
                {{ label }}
                <input v-bind:type="type" v-model='inputValue'>
            </label>
            <br/>
           `,
           props: ['label', 'type', 'modelValue'],
           computed: {
               inputValue: {
                   get() {
                       return this.modelValue
                   },
                   set(value) {
                       this.$emit('update:modelValue', value)
                   }
               }
           },
       })
       app.mount('#app')
   </script>
</body>
</html>